.input-widget {
  width: 100%;
  border: 1px solid red;
}
.input {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.input button {
  width: 100%;
  height: 100px;
}

.input > div {
  padding: 0 2px;
}

.send-setting {
  display: flex;
}
.send-setting > * {
  margin: 0 5px;
}