.input-widget {
  width: 100%;
  margin-top: 2px;
}
.input {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.input textarea {
  width: 100%;
  height: 100%;
}
.input button {
  width: 100%;
  height: 100px;
}

.input > div {
  padding: 0 2px;
}

.send-setting {
  display: flex;
  align-items: center;
}
.send-setting > * {
  margin: 0 5px;
}