* {
  word-break: break-all;
}

html, body {
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
label {
  margin: 0;
}
#nav-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: linear-gradient(to bottom, #bbb, #ccc);
}
#nav-header > div:last-child {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
}
#nav-header > a {
  text-decoration: none;
  padding: 5px 10px;
}

#device-setting {
  display: grid;
  grid-template-columns: 1fr 8rem;
  padding: 2px 5px;
}
#device-setting > label {
  grid-column: 1/2;
}
#device-setting > select {
  grid-column: 2/3;
  max-width: 8rem;
}
#device-setting > div {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
#device-setting button {
  width: 49%;
}

.middleware-list hr {
  margin: 1px 0;
}

.middleware-list {
  margin: 20px 10px;
  border: 1px gray solid;
  border-radius: 6px;
  box-shadow: 2px 3px 4px gray;
  overflow: hidden;
}
.middleware-title {
  margin: 0;
  padding: 5px 10px;
  background-color: #DDDDFF;
}

.middleware-name {
  width: 85%;
  margin: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.middleware-delete {
  margin-right: 5px;
}
.middleware-edit {
  margin-right: 5px;
  width: 0.8em;
  height: 0.8em;
}
.middleware-delete:hover, .middleware-edit:hover {
  cursor: pointer;
}
.middleware-operation {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

